@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 100%;
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 55%;
    min-width: 900px;
    height: 60vh;
    margin: 20vh auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    position: relative;
    -webkit-box-shadow: 1px 17px 29px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 17px 29px -5px rgba(66, 68, 90, 1);
    box-shadow: 1px 17px 29px -5px rgba(66, 68, 90, 1);
}

.images {
    width: 50%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-position: -550px -270px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.box {
    margin-left: -93px;
    margin-top: 100px;
    z-index: 2;
    position: absolute;
    left: -0.1rem;
    top: 8rem;

}


.images .woman {
    position: absolute;
    left: -4rem;
    top: 6rem;

}


main {
    width: 50%;
    padding: 4rem 4.5rem 4rem 0;
}

h1 {
    margin-bottom: 2rem;
    color: hsl(238, 29%, 16%);
}

h2 {
    font-size: 17px;
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    margin: 1em 0;
}

p {
    color: hsl(240, 6%, 50%);
    font-size: 15px;
    margin-bottom: 1rem;
    display: none;
}

button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 1rem;
}

.QA {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.woman-mobile {
    display: none;
}

.background-mobile {
    display: none;
}

.w-shadow {
    display: none;
}

@keyframes moveBox {

    0% {
        left: 0px;
    }

    50% {
        left: -40px;
    }

    100% {
        left: 0px;
    }
}

@media (max-width: 900px) {

    body {
        height: auto;
    }

    .container {
        margin: 25vh auto;
        width: 95%;
        min-width: 300px;
        height: auto;
        flex-direction: column;
        padding-bottom: 4rem;
        position: static;
    }

    .images {
        width: 100%;
        margin-bottom: 10rem;
        overflow: visible;
        position: relative;
        justify-content: center;
    }

    .background-mobile {
        display: block;
    }

    .woman {
        display: none;
    }

    .woman-mobile {
        display: block;
        position: absolute;
        bottom: -6rem;
        max-width: 350px;
        max-height: 250px;
        z-index: 1;

    }

    .w-shadow {
        display: block;
        position: absolute;
        bottom: -8rem;
        width: 320px;
        z-index: 0;
    }

    .box {
        display: none;
    }

    .box-container {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    main {
        width: 100%;
        padding: 2rem;
    }
}